html {
    background-color: #141332;
    color: #fff;
}

html,
body,
head {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    width: 1440px;
}
